:root {
  --bg-body: hsl(0, 0%, 8%);
  --bg-contact: hsl(0, 0%, 14%);
  --accent: hsl(153, 71%, 59%);
  --text1: hsl(0, 0%, 100%);
  --text2: hsl(0, 0%, 85%);
  --invalid: hsl(7, 100%, 68%);
  --fs-18: 1.12rem;
  --fs-88: 5.5rem;
  --fs-72: 4.5rem;
  --fs-48: 3rem;
  --fs-40: 2.5rem;
  --fs-32: 2rem;
  --fs-24: 1.5rem;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  background-color: var(--bg-body);
  color: var(--text1);
  font-size: var(--fs-18);
  line-height: 1.56;
}
